@charset "utf-8";
/* CSS Document */
body {
background-color: #645094;
}

.realistic {
position: relative
}
.Cartoonish {
position: relative; top: 300px; right: 300px
}

.NewSchool {
position: relative; top: 600px; right: 600px
}

a{
text-decoration: none;
color: black
}
a:hover{
text-decoration: underline 
}